.logo{
    
    padding-top: 34px;
    align-self: center;
    display: flex;
    margin: auto;
}
  @media screen and (max-width: 320px) {
    .logo {
      margin: auto;
     
      
      max-width: 320px;
      padding: 0;
      padding-top: 20px;
    }
  }
  