.logo{
    
    padding-top: 34px;
    padding-left: 505px;
    display: block;
}
@media screen and (max-width: 768px) {
    .logo {
      margin-top: 34px;
      padding-left: 60px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .logo {
      margin-top: 20px;
      max-width: 320px;
    }
  }
  