.logo{
    
    padding-top: 34px;
    padding-left: 505px;
    display: block;
}
@media screen and (max-width: 768px) {
    .logo {
      padding-top: 34px;
      padding-left: 249px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .logo {
      margin: auto;
     
      
      max-width: 320px;
      padding: 0;
      padding-top: 20px;
    }
  }
  