.page{
    background-color: #2A2C2F;
    margin: 0;
    max-width: 1280px;
    text-rendering: optimizeLegibility;
    font-family: "Inter", arial, sans-serif;
}
@media screen and (max-width: 768px) {
    .page{
        max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .page{
        max-width: 320px;
    }
  }