.photo-grid__list{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4 , 1fr);
    max-width: 100%;
    margin: 0;
    margin-right: 48px;
    margin-left: 48px;
    padding-top: 118px;
    padding-left: 0;
}
.photo-grid__item{
    list-style: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.photo-grid__img{
    margin: 0;
    width: 100%;
    object-fit: contain;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .photo-grid__list {
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 90px;
        max-width: 720px;
        margin: auto;
      }
    
    .photo-grid__img{
        object-fit: contain;

    }
  }
  @media screen and (max-width: 320px) {
    .photo-grid__list {
      grid-template-columns: 100%;
      grid-template-rows: repeat(8, 1fr);
      gap: 12px 0px;
      max-width: 288px;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }