.places{
    max-width: 984px;
    margin: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 92px;
    margin-right: auto;
    margin-left: auto;
}
.place{
    display: grid;
    grid-template-columns: minmax(340px, 1fr) 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: auto;
}
.place:last-child{
    padding-bottom: 0;
}
.place__title{
    max-width: 100%;
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    align-self: flex-end;
    margin: 0;
    padding-top: 80px;
}
.place__website{
    align-self: flex-end;
    max-width: 456px;

}
.place__url-heading{
    color: #AAAAAA;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 8px;
}
.place__artist{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.place__descriptin{
    grid-column: 2/ 3;
    grid-row: 2/ -1;
    margin: 0;  
}
.place__paragraph{
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 25px;
    max-width: 100%;
}
.place__paragraph:last-child{
    margin: 0;
}
.place__image{
    width: 100%;
}
.place__button{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    box-sizing: border-box;
    background: #0278FE;
    color: #fff;
    text-decoration: none;
    height: 48px;
    width: 248px;
    align-self: flex-start;
    border-radius: 4px;
    padding: 13px 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.place__button:hover{
    background: #0063d2;
}
@media screen and (max-width: 768px) {
    .places {
      padding-top: 88px;
      padding-left: 24px;
      padding-right: 24px;
      max-width: 720px;
    }
    .place__image{
        width: 100%;
    }
    .place{
        grid-template-columns: minmax(150px, 1fr) 1fr;
        grid-template-rows: auto auto 1fr;
        column-gap: 28px;
        margin: auto;
        padding-bottom: 72px;

    }
    .place:first-child{
        padding-top: 0;
    }
    .place__title{
        font-size: 42px;
        max-width: 340px;
        line-height: 46px;
        padding-top: 0;
    }
    .place__artist{
        margin: 8px 0 0 0;
    }
    .place__url-heading{
        margin: 0;
    }
    .place__paragraph{
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
  }
  
    @media screen and (min-width:320px) and (max-width:680px) {
        .places {
            max-width: 100%;
            padding-top: 62px;
            padding-left: 0px;
            padding-right: 0px;
          }
        .place{
            max-width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 30;
            padding-bottom: 0;
            padding-top: 50px;
            margin: auto;
        }
    }
    @media screen and (max-width: 320px) {
        .places {
            max-width: 100%;
            padding-top: 62px;
            padding-left: 0px;
            padding-right: 0px;
          }
        .place {
          max-width: 320px;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          padding-top: 50px;
          padding-bottom: 0;
          gap: 30px;
          margin: auto;
        }
      
        .place__title {
          font-size: 32px;
          line-height: 35px;
          padding-left: 16px;
          align-self: flex-start;
        }
      
        .place__website {
          padding-left: 16px;
          padding-right: 16px;
          align-self: flex-start;
        }
      
        .place__image {
          width: 320px;
          margin: 0;
          padding-left: 0;
          padding-right: 0;
        }
      
        .place__descriptin {
          padding-left: 16px;
          padding-right: 16px;
          font-size: 16px;
          line-height: 26px;
        }
        .place__paragraph:last-child{
            margin: 0;
        }
        .place__button {
          width: 288px;
          padding-left: 16px;
          padding-right: 16px;
          align-self: center;
        }
      }